<div class = "card-holder">
    <div class="card-inner-holder">
        <div class="card-input-container">
            <span style="padding: 20px;"> cards</span>
        <input class="card-input" type="text" placeholder="enter cards separated by comma" [(ngModel)] = "data" >
        <input class="sort-button" type="button" (click) = "sort()" value="SORT">
    
        </div>
    </div>
    <div *ngIf ="outData" class="card-inner-holder" style="height: 50vh;">
        <span>  deck is sorted. </span>
        <div class="card-result-container">
            <span>  {{outData}}</span>
        </div>
    </div>
</div>