.card-input {
    width:50vw;
    font-size: 20px;
}
.card-input-container{
    min-height: 15vh;
    margin-top: 5vh;;
    background-color: #6a676a;
    border-radius: 6px;
}
.sort-button{
    position: absolute;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-left: 2vw;
    border-radius: 6px;
    background-color: green;
    color:whitesmoke;
}
.card-inner-holder{
    padding: 20px;
    
}
.card-result-container{
    min-height: 15vh;
    margin-top: 5vh;;
    background-color: #6a676a;
    border-radius: 6px;
}
.result{
    overflow: auto;
    overflow-wrap: anywhere;
    padding: 30px;
}
.card-element{
    margin: 4px;
    height: 30px;
    align-items: center;
    width: 30px;
    background-color: black;
    color: chartreuse;
}