.card-input {
    width:75%;
    font-size: 20px;
}
.card-input-container{
    min-height: 15vh;
    margin-top: 5vh;;
    background-color: #6a676a;
    border-radius: 6px;
}
.sort-button{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-left: 2vw;
    border-radius: 6px;
    background-color: green;
    color:whitesmoke;
}
.card-inner-holder{
    padding: 20px;
    
}
.card-result-container{
    min-height: 15vh;
    margin-top: 5vh;;
    background-color: #6a676a;
    border-radius: 6px;
}
.result{
    overflow: auto; 
    overflow-wrap: anywhere;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.card-element{
    margin: 4px;
    height: 30px;
    align-items: center;
    width: 4vw;
    border: 3px solid #4b4949;
    border-radius: 10%;
}
.card-element span{
    color: antiquewhite;
    display: flex;
    justify-content: center;
}
.valid{
    width: -webkit-fill-available;
    padding-bottom: 2%;
}
.result-card{
    background-color: #354525;
}